.developers {
  background: #f5f4fa;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.developers-list {
  text-align: center;
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: -30px;
  }
}
.developers-list__item {
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: 352px;
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: 270px;
    margin-left: 30px;
  }
}
.developers-list__titel {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--name-text-color);
}
.developers-list__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 16px;
}
.developers-list__thumb {
  padding-top: 30px;
  padding-bottom: 30px;
}
// .developers-list__icon {
//   width: 100%;
// }
