.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-left: 76px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    align-items: baseline;
    margin-left: 0;
    margin-bottom: 0;
  }
}
.address__text {
  font-weight: 400;
  font-style: normal;
  padding-top: 20px;
  padding-right: 6px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
  color: var(--address-color);
}
.contacts-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts-list__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--footer-address-color);
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}
.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1200px) {
    align-items: baseline;
  }
}
.subscribe__blok {
  @media screen and (min-width: 1200px) {
    display: inline-flex;
  }
}
.subscribe__mail {
  width: 450px;
  height: 50px;

  margin-bottom: 20px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    align-items: baseline;
    margin-left: 0px;
    margin-bottom: 0;
    margin-right: 12px;
    width: 358px;
  }
}

.list-firm {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    margin-left: 165px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    align-items: baseline;
    margin-left: 0px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer--address-box {
    display: flex;
    align-items: baseline;
  }
}
