:root {
  --hero-tittle-color: #ffffff;
  --about-title-coior: #212121;
  --main-text-color: #000000;
  --second-text-color: #757575;
  --main-tittle-color: #212121;
  --name-text-color: #212121;
  --main-button-color: #ffffff;
  --accent-color: #2196f3;
  --header-text-color: #212121;
  --hader-address-color: #757575;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --address-color: #ffffff;
  /* -----------------PORTFOLIO------------------------ */
  --portfolio-button: #212121;
  --accent-portfolio-button-color: #ffffff;
  --price-titile-color: #212121;
  --price-after-titile-color: #757575;
  --price-button-color: #f5f4fa;
}
